extends layout
block content
    a(href='/' class="btn btn-primary btn-outline") Go back
    div(class="card container blogcontainer ")
       
        h3(class="blog-title") #{blog.title}
        h4 #{blog.body}
        p(style="color:red")  Created by #{blog.name}
        p(style="color:gray") Created on #{blog.createdOn}
        br   