body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
h2{
  font-size: x-large;
  font-family: cursive;
}
#one{
  color: purple;
}
a{
  border: none;
}
a:hover{
color: black;
}
