body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: wheat;
  background-color: rgb(26, 24, 24);
}
.main-title{
  font-size: 60px;
}
.welcome{
  font-size: 15px;
}
.blogcontainer{
  color: wheat;
  background-color: rgb(26, 24, 24);
}
.blog-title{
  font-size: 90px;
}
.all-header{
  font-size: 45px;
}
a:hover{
  color: white;
}
.card{
  margin-bottom: 12px;
  border-bottom:white;
}